/*
Theme Name:     Johnson Renovations - MATM
Theme URI:      http://matm.co.uk
Description:    MATM's theme for Johnson Renovations
Author:         Jacob Tilsley-Curtis
Author URI:     http://matm.co.uk
Version:        1.0
Template:       buildpro
*/

 @import url("../buildpro/style.css");

/* =Theme customization starts here
------------------------------------------------------- */

/* Header Menu */

ul#mainmenu li a, ul#mainmenu li.current-menu-item a, ul#mainmenu li.current-menu-item a:hover, ul#mainmenu li a:hover {
    color: #00537d;
    font-weight: 600;
    letter-spacing: .5pt;
}

.de_light h2, .de_light h3 {
    color: #fff;
}

header .info {
    background: white;
}

header .info nav.mainmenu {
	float: right;
}

header.de_header_2.smaller div.info {
    position: absolute;
    opacity: 1;
    z-index: 99999;
}

/* Our Work Boxes */

.homepage-work-box-images {
    padding-top:  0;
}

.homepage-work-box-images > .container {
    margin:  0;
    width: 100%;
}

.homepage-work-box-images .container .vc_column-inner {
    padding:  0;
}

ul#filters {
    padding-left:  15px;
}

ul#filters a, .homepage-work-box h2 {
    color: white;
}

h1#logo img {
    width: 140px;
    height: auto;
}

#filters a.selected {
    color: white;
    background: none !important;
    border: solid 2px #fff;
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-size: 14px;
    color: #eceff3;
    letter-spacing: 1px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    border: solid 1px #fff;
    padding: 10px 30px 10px 30px;
}

ul#filters li:last-child a {
	padding-right: 30px;
	margin-right: unset;
}

.proud-background.vc_row-fluid {
    background-position-y: -30px !important;
    padding-top:0px;
}

.proud-background.vc_row-fluid .container .text-light {
    padding-top: 80px;
    top: -30px;
}

ul#filters a:hover {
    color: #1aa559;
}

/* Stats Box */

.de_count h3, .de_count span {
    color: white;
}

.call-to-action h3 {
    color: white;
}

/* Testimonials */ 


.testimonials .testimonial-list {
    width: 100%;
    max-width: unset;
}

/* Footer */

footer, .subfooter {
    background: #165b7e;
}

footer .widget li {
	border-bottom-color: white;
}

footer .widget ul li:last-child, footer .widget ul.contact-list li:last-child {
	border-bottom: none;
}

footer .widget ul.contact-list li {
	padding: 0 0 0 0;
	border-bottom: 1px solid white;
}

footer .widget ul.contact-list li p {
    margin-bottom: 10px;
}

.de_light a:hover {
    color: #1ba559;
}

footer .textwidget p, footer .widget li a{
    color: white;
}

/* Back To Top Button */

a#back-to-top.show {
    border: .5px solid white;
}

a#back-to-top.show:before {
    color:  white;
}

a#back-to-top.show:hover {
    background-color: white;
}

a#back-to-top.show:hover:before {
    color: #1aa559;
}

.de_light span.overlay {
    background-color: white;
}

/* News */

#blog-carousel .item .post-text{
    padding-left: 30px;
    padding-right: 30px;
}
#blog-carousel .item {
    list-style: none;
}

.post-image-box {
    text-align: center;
}

.de_light .blog-list h3 a, .services h3 {
    color: #00537d;
}

#subheader div.crumb {
    color: #cecece;
}

body section {
    padding: 80px 0 0 0;
}

#de-arrow-nav-set i {
    color: #fff;
}

figure.pic-hover:hover .bg-overlay {
    background: rgba(0,83,125,.5);
}

.info-details .title {
    color: #00537d;
}

.de_light h1, .de_light h2, .de_light h3, .de_light h4, .de_light h5, .de_light h6 {
    color: #00537d;
}

.de_count h3, .homepage-work-box h2 {
    color: white;
}


.sub-header-inner h2 {
	text-align: center;
}

#subheader, html {
    background-color: #165b7e !important;
}

.crumb * {
    color:  white;
}

/* CATEGORIES */

section.boxed.category_portfolio h3 {
    display: none;
}

section.boxed.category_portfolio {
    padding-top: 0;
}

section.boxed.category_portfolio .spacer-half {
    display: none;
}

.tax-categories .breadcrumb {
    margin-bottom:  0;
}

.clearfix {
	clear: both;
}

@media screen and (min-width: 1025px){

	.headerfix {
		height:100px;
	}
}

#de-arrow-nav-set i {
    color: #165b7e;
}

.home-services .pic-hover {
    display: none;
}

/* Contact Form */

.de_light input.btn-line.form-button {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: normal;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 30px 10px 30px;
    background: none !important;
}

div#contact_form {
    margin-bottom:  50px;
}

div#contact_form input[type=submit]:hover, .de_light input.btn-line.form-button:hover {
    background-color: white !important;
    color:  black !important;
}

.rev_slider li.tp-revslider-slidesli:after {
	content: ' ';
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #00537da1;
}
.service-item h3 a {
    color: #00537d;
}

#filters a {
    outline: none;
    display: inline-block;
    padding: 10px 0px 8px 0px;
    margin-right: 40px;
    color: #888;
    font-size: 16px;
    text-decoration: none;
}

ul#mainmenu li a, ul#mainmenu li.current-menu-item a, ul#mainmenu li.current-menu-item a:hover, ul#mainmenu li a:hover {
    color: #00537d;
    font-weight: 600;
    letter-spacing: .5pt;
    font-size: 19px;
    line-height: 65px;
}

header.smaller #mainmenu a {
    padding-top: 29px;
    padding-bottom: 18px;
}

#preloader {
    display: none;
}

.vc_images_carousel .vc_carousel-control .icon-prev:before, .vc_images_carousel .vc_carousel-control .icon-next:before {
    content: '\2039';
    position: relative;
    top: 0px !important;
}

.vc_carousel-control span {
    border: 1px solid black;
    background: black;
}

.craftsman-logo {
    position: absolute;
    left: 0;
    top: 0;
}

h1#logo img.logo {
    width: 190px;
}

h1#logo {
    margin-top: 5px !important;
}

h2, .h2_title {
    letter-spacing: normal;
}

span.tiny-border, .small-border-deco {
    display: none !important;
}

.de_light section {
    background: #fff;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px){
.proud-background > .container > .row > div:nth-child(2) {
    text-align: right;
}

.proud-background > .container > .row > div:nth-child(2) .wpb_single_image {
    /* text-align: right; */
    margin-top: 42px;
    margin-left: 100px;
}
}

.vc_images_carousel {
    overflow: hidden;
}

.vc_images_carousel img {
    position: relative;
}

.blog-list.blog-snippet li.item {
    width: 33% !important;
    display: inline-block;
}