<html>
<head>
<meta charset="UTF-8">

<title>     Johnson Renovations    </title>
<style type="text/css">
body {
	background-color: #00537d;
}

a:any-link {
	color:#ffffff !important;
	text-decoration:none;
}

a:link {
    color:#ffffff !important;
    text-decoration:none;
}


</style>
</head>

<body>
<table width="100%" border="0" cellpadding="20" >
  <tbody>
    <tr>
      <td height="400" colspan="5" align="center"><img src="<?php echo $assetsUrl; ?>images/logo.svg" alt="" width="300px"/>
      
</td>
    </tr>
    <tr>
    <td height="100" colspan="5"align="center" style="font-family: 'Signika', sans-serif;
font-weight: 700; font-size:22px; color:#fff;">
    Please bear with us whilst we update a few important files on our website
 
<br><br>We’ll be back up and running very soon 
    </td>
    </tr>
    <tr>
    
    <td height="200" width="35%" align="center" style="font-family: 'Signika', sans-serif;
font-weight: 700; font-size:20px; color:#fff;">
    </td>
        <td height="200" width="35%" align="center" style="font-family: 'Signika', sans-serif;
font-weight: 700; font-size:20px; color:#fff;">
    Phone: 0845 457 0000
    <br><br>Email: <a href="mailto:hire@jms.co.uk">training@jms.co.uk</a>
    </td>
        <td height="200" width="35%" align="center" style="font-family: 'Signika', sans-serif;
font-weight: 700; font-size:20px; color:#fff;">
    </td>
    <td align="center" style=" width:30%;" >    
    </td>
    
    </tr>
  </tbody>
</table>
</body>
</html>
